.contenedor2{
    position: relative;
    display: inline-block;
    text-align: left;
    
}

.contenedor2{
    display: table;
}
.contenedor2{
    width: 100%;
    margin-left: 100px;
}

.contenedor1{
    position: relative;
    display: inline-block;
    text-align: left;
    clear: both;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedor{
    display: table;
}
.contenedor{
    width: 100%;
    margin-right: 50px;
}

.contenedor-{
    width: 98%;
    margin: auto;
}

.contenedor-{
    display: table;
}
.contenedor-footer{
    width: 100%;
    margin: auto;
    height: 62px;
    background: #F2F4F4;
    color: #000;

    position: bottom;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor-footer{
    display: table;
}
.contenedor3{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedor3{
    display: table;
}
.contenedor3{
    width: 100%;
    margin-right: 50px;
}


.texto1{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}
.texto2{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}
.texto{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}

.form-title h8{
    position: relative;
    left: 0px;
    color: black;
    font-size: 30px;
}

.scroll-container {
    display: block;
    width:auto;
    height: 330px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

.photo{
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    width: 48%;
 }

.photo2{
    width: 48%;
    display: inline-block;
    margin: 0 auto;
}

.photo3{
    width: 32%;
    display: inline-block;
}


