.contenedor2{
    position: relative;
    display: inline-block;
    text-align: left;
    
}

.contenedor2{
    display: table;
}
.contenedor2{
    width: 100%;
    margin-left: 100px;
}

.contenedor1{
    position: relative;
    display: inline-block;
    text-align: left;
    clear: both;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedor{
    display: table;
}
.contenedor{
    width: 100%;
    margin-right: 50px;
}

.contenedor3{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedor3{
    display: table;
}
.contenedor3{
    width: 100%;
    margin-right: 50px;
}


.texto1{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}
.texto2{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}
.texto{
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
}

.form-title h8{
    position: relative;
    left: 0px;
    color: black;
    font-size: 20px;
}

.scroll_vertical {
    height: 114px;
	width: 114px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #ccc;
	padding: 8px;
}

.scroll-container {
    display: block;
    width:auto;
    height: 380px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }