.container-imagen {
    width: 40%;
    background: #F2F4F4;
    color:#fff;
    margin-right: 50px;
    margin-top: 1px;
    height: 150px;
float: left;
}


.container-imagen2 {
    width: 60%;
    background: #F2F4F4;
    color:#fff;
    margin-right: 50px;
    margin-top: 1px;
    height: 450px;
position: left;

}


.container-img1{
    left:15px;
    width: 60%;
    top: 0;
    width: 0;
    background: #F2F4F4;
    color:#fff;
        margin-right: 50px;
    margin-top: 1px;
    height: 150px;

    text-align:left;
    overflow: center;
}

.container-img2 {
    position: left;

     display:flex;
  flex-direction: row;
  justify-content: left;
}

.container-img3{
    position: center;
    width: 40%;
        margin-right: 50px;
    margin-top: 1px;
    height: 150px;
    top: 0;
    background: #F2F4F4;
    color:#fff;
}
.contenedor1{
    position: left;
    display: inline-block;
    text-align: center;
}

.contenedor2{
    position: left;
    display: inline-block;
    text-align: center;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto1{
    position: relative;
    bottom: 50px;
    left: 0px;
    color: gray;
}
.texto2{
    position: relative;
    bottom: 50px;
    left: 0px;
    color: gray;
}
.texto{
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: white;
}